
.app-user {
  margin: 10px;
}

.table-users {
  margin-top: 10px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.errors-user {
  margin-top: 10px;
}

.viewEditIcon {
  text-decoration: underline;
  cursor: pointer;
}